.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);

}
.sign-up{
  border : 1px solid grey;
  border-radius:5px;
}
.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 8px;
    text-align: center;
    margin: auto;
}
.navbar-toggle {
    z-index:3;
}
